body{
    background-color:#eee;
}

.head {
    background-color: #eeeeee;
    color: #23b1f7;
    height: 100px;
    clear: both;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0;
    margin-bottom: 10px;
}

.headh1 {
    padding-left: 10px;
    margin: 0;
}

.leftcont{
    border: 1px solid transparent;
    background-color:white;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    margin:20px 0 20px 0;
}

.rightcont{
    border: 1px solid transparent;
    background-color:white;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    margin:20px 0 20px 0;
}

input{
    margin-top:10px;
    width:100%;
    border: 2px solid #9d9d9d;
}

.checkbox{
    position:relative;
    height:40px;
}

a.checkbutton{
    margin-top:10px;
    width:70px;
    display:block;
    position:absolute;
    right:0px;
    text-align: center;
    padding:5px;
    background-color:#23b1f7;
    border-radius:4px;
    color:white
}

a.checkbutton:hover{
    background-color: #198ff7;
    text-decoration: none;
}

.alertbox{
    background-color: #f7c2b8;
    color: #f7422b;
    width:100%;
    padding:10px;
}


.leftbox {
    max-height:600px;
}

.rightbox {
    max-height:600px;
}



.newbox{
}

.fundimg{
    width:45%;
}

.fname {
    font-size: 1.4em;
}

.fnamebold {
    font-size: 1.4em;
    font-weight: bold;
}

.fmoney {

}

.fms {

}

/* 设置滚动条的样式 */
.leftcont::-webkit-scrollbar,.rightcont::-webkit-scrollbar {
    width: 12px;
}

/* 滚动槽 */
.leftcont::-webkit-scrollbar-track,.rightcont::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* 滚动条滑块 */
.leftcont::-webkit-scrollbar-thumb,.rightcont::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

.leftcont::-webkit-scrollbar-thumb:window-inactive,.rightcont::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4);
}