/*保证页尾同页底贴合*/

html{
    height:100%;
}

body{
    position:relative;
    min-height:100%;
}

.addheight{
    height:100px;
}

.footbar{
    position:absolute;
    bottom:0;
    width:100%;
}

/*其他代码*/

.col-xs-6{
    margin-top:15px;
}

#addOrderBtn{
    margin-top:15px;
}

select{
    height:30px;
    font-size:16px;
}

p#advice{
    font-size: 12px;
}