
.pagetitle {
    background-color: #f69163;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pagetitleh1 {
    padding-left: 40px;
    margin: 0px;
    font-size: 1.7em;
}

.pagetitleh2 {
    padding-left: 40px;
    margin: 0px;
    color: #000;
    font-size: 1.3em;
}

.imagerow {
    margin: 15px;
}

.nowactbox {
    height: 300px;
}

.nowactbox, .nowactimg, .nowactdetail {
    background: #a9d6f5;

}

.nowactbutton {
    padding: 9px;
    border: 1px solid;
    border-radius: 12px;
    border-color: #23b1f7;
    text-decoration: none;
    color: #23b1f7;
    background: white;
}

a.nowactbutton:hover {
    text-decoration: none;
    color: #23b1f7;
}

a.nowactbutton:visited {
    text-decoration: none;
    color: #23b1f7;
}

a.nowactbutton:link {
    text-decoration: none;
    color: #23b1f7;
}

.acttitle {
    background-color: #eeeeee;
    color: #23b1f7;
    height: 70px;
    clear: both;
}

.acttitleh3 {
    padding-top: 10px;
}

.page {
    font-size: 1.2em;
}

.nowpage {
    font-size: 1.2em;
}

.pagebutton {
    border: 1px solid;
    border-radius: 2px;
    border-color: #23b1f7;
    margin-left: 10px;
    height: 40px;
}