.pagetitle {
    color: #238acb;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pagetitleh1 {
    padding-left: 100px;
    margin: 0px;
}

.pagetitleh2 {
    padding-left: 100px;
    margin: 0px;
    color: #999999;
}

.addheight1{
    height:100px;
}

.titleline{
    border-top: 2px solid #999;
}

.abnav {
    color: #FFFFFF;
    font-size: 1.5em;
}

.actbox {
    font-size: 1.5em;
}

a{
    color:black;
}

a:hover {
    color: rgb(7, 251, 251);
    text-decoration: none;
}

.glyphicon-circle-arrow-right{
    font-size:2em;
}

.imagerow {
    margin: 15px;
}

.nowacttitle {

}

.nowactbutton {
    padding: 9px;
    border: 1px solid;
    border-radius: 12px;
    border-color: #23b1f7;
    text-decoration: none;
    color: #23b1f7;
}

a.nowactbutton:hover {
    text-decoration: none;
    color: #23b1f7;
}

a.nowactbutton:visited {
    text-decoration: none;
    color: #23b1f7;
}

a.nowactbutton:link {
    text-decoration: none;
    color: #23b1f7;
}

.acttitle {

    color: #409cc3;
    height: 70px;
    clear: both;
}

.acttitleh3 {
    padding-top: 10px;
    font-size: 2.6em;
}

.pagebox{
    text-align:center;
    color:black;
}


.pagebutton{
    position:relative;
    margin-left:50%;
    transform:translateX(-50%);
    display:block;
    font-size: 1.6em;
    border: 1px solid;
    border-radius: 2px;
    background-color: #23b1f7;
    height: 40px;
    width: 40px;
}

a.pagebutton {

}

a.pagebutton:hover{
    background-color: #3361af;
}

.right {
    background-image: url("/002.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 400px;
}