#loading{
    display: none;
}

.loadingtext{
    text-align: center;
    width:100%;
    font-size:2em;
    margin:auto;
}
#floatingCirclesG{
    position:relative;
    width:125px;
    height:125px;
    margin:auto;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:22px;
    width:22px;
    border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:0.522s;
    -o-animation-duration:0.522s;
    -ms-animation-duration:0.522s;
    -webkit-animation-duration:0.522s;
    -moz-animation-duration:0.522s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:51px;
    animation-delay:0.1995s;
    -o-animation-delay:0.1995s;
    -ms-animation-delay:0.1995s;
    -webkit-animation-delay:0.1995s;
    -moz-animation-delay:0.1995s;
}

#frotateG_02{
    left:15px;
    top:15px;
    animation-delay:0.256s;
    -o-animation-delay:0.256s;
    -ms-animation-delay:0.256s;
    -webkit-animation-delay:0.256s;
    -moz-animation-delay:0.256s;
}

#frotateG_03{
    left:51px;
    top:0;
    animation-delay:0.3225s;
    -o-animation-delay:0.3225s;
    -ms-animation-delay:0.3225s;
    -webkit-animation-delay:0.3225s;
    -moz-animation-delay:0.3225s;
}

#frotateG_04{
    right:15px;
    top:15px;
    animation-delay:0.389s;
    -o-animation-delay:0.389s;
    -ms-animation-delay:0.389s;
    -webkit-animation-delay:0.389s;
    -moz-animation-delay:0.389s;
}

#frotateG_05{
    right:0;
    top:51px;
    animation-delay:0.4555s;
    -o-animation-delay:0.4555s;
    -ms-animation-delay:0.4555s;
    -webkit-animation-delay:0.4555s;
    -moz-animation-delay:0.4555s;
}

#frotateG_06{
    right:15px;
    bottom:15px;
    animation-delay:0.522s;
    -o-animation-delay:0.522s;
    -ms-animation-delay:0.522s;
    -webkit-animation-delay:0.522s;
    -moz-animation-delay:0.522s;
}

#frotateG_07{
    left:51px;
    bottom:0;
    animation-delay:0.5885s;
    -o-animation-delay:0.5885s;
    -ms-animation-delay:0.5885s;
    -webkit-animation-delay:0.5885s;
    -moz-animation-delay:0.5885s;
}

#frotateG_08{
    left:15px;
    bottom:15px;
    animation-delay:0.645s;
    -o-animation-delay:0.645s;
    -ms-animation-delay:0.645s;
    -webkit-animation-delay:0.645s;
    -moz-animation-delay:0.645s;
}



@keyframes f_fadeG{
    1%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG{
    1%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG{
    1%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG{
    1%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG{
    1%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}