body{
    background-image:url("/loginbg.jpg");
    background-size:100%;
}

input{
    width:100%;
    margin-top:20px;
    color: #cccccc;
}

#mainwindow{
    position:fixed;
    left:50%;
    width:30%;
    margin-top:200px;
    background-color: white;
    border-radius:60px;
    padding: 30px 40px 40px 40px;
}

.alertbox{
    background-color: #f7c2b8;
    color: #f7422b;
    width:100%;
    padding:10px;
}

a.loginbt{
     margin-top:20px;
     display:block;
     background-color: #23b1f7;
     padding: 7px 10px 7px 10px;
     border-radius: 5px;
     text-align: center;
     text-decoration: none;
     color:white;
 }

a.loginbt:hover{
    background-color: #82e2f7;
    cursor:pointer;
}