
.container-fluid {
    padding:0;
}

.common-navbar {
    padding:0;
    overflow:hidden;
}

.heading {
    background-image: url("/newheader.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0;
}

.navbar-header{
    padding-left: 25px;
    padding-top: 10px;
}

.navimg {
    transition: all 0.6s;
    width: 50px;
}

.navimg:hover {
    transform: scale(1.4);
}

.anav{
    font-size: 1em;
    color:rgb(255,255,255) !important;
    font-family: sans-serif;
}

a.anav:hover,a.abnav:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    background-color: transparent !important;
    trasition:0.5s;
}

#shownav {
    padding-top: 10px;
    float: right;
}

#btnnav {
    float: right;
}

.myli {
    color: #fff;
    font-size:1.5em;
}

.myli:hover {
    text-decoration: underline;
}
