.frontbar{
    background-color: #081e4c;
    height:80px;
    width:100%;
    padding-top:10px;
    padding-left:10px;
}

.frontimg{
    height:50px;
}

.frontbar2 {
    background-color: #40cff9;
    height: 6px;
    width: 100%;
}

#mainwindow{
    margin-left:20%;
    width:50%;
    margin-top:100px;
    min-width:700px;
}

.inputbox{
    padding-top:20px;
}

input{
    width:100%;
}

a.charabt{
    margin-top:20px;
    display:block;
    background-color: #7ecbf7;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color:black;
    width:130%;
}

a.charabt:hover{
    text-decoration: none;
    cursor:pointer;
}

a.teambt{
    margin-top:20px;
    display:block;
    background-color: white;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    text-decoration: none;
    color:black;
    width:130%;
}

a.teambt:hover{
    text-decoration: none;
    cursor:pointer;
}

a.gradebt{
    margin-top:20px;
    display:block;
    background-color: #7ecbf7;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color:white;
    width:130%;
}

a.gradebt:hover{
    text-decoration: none;
    cursor:pointer;
}

a.groupbt{
    margin-top:20px;
    display:block;
    background-color: white;
    padding-top:3px;
    padding-bottom:3px;
    border: 3px solid #2fa4f7;
    text-align: center;
    text-decoration: none;
    color: #2fa4f7;
    width:130%;
}

a.groupbt:hover{
    text-decoration: none;
    cursor:pointer;
}

a.ddbt{
    margin-top:20px;
    display:block;
    background-color: #103e99;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.3);
    font-family:"SimHei";
    width:130%;
}

a.ddbt:hover{
    text-decoration: none;
    cursor:pointer;
}

a.submitbt{
    margin-top:20px;
    display:block;
    background-color: #7ecbf7;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    text-decoration: none;
    color:white;
    width:100px;
    margin-bottom:200px;
}

a.submitbt:hover{
    text-decoration: none;
    background-color: #4ba7f7;
    cursor:pointer;
}

.ddtext{
    margin-top:30px;
}

.alertbox{
    background-color: #f7c2b8;
    color: #f7422b;
    width:100%;
    padding:10px;
}