
.pagetitle {
    color: #238acb;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pagetitleh1 {
    padding-left: 100px;
    margin: 0px;
}

.pagetitleh2 {
    padding-left: 100px;
    margin: 0px;
    color: #999999;
}

.upperform{
    width:95%;
}

.formtitle {
    padding-bottom: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    display: table;
    width: 100%;
    font-size:1.6em;
}

.formdata {
    border: 2px solid #999999;
    border-radius: 10px;
    height: 100px;
    clear: both;
    display: table;
    margin-bottom: 20px;
    width: 100%;
}

.selectwork {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: left;
}

.worktype, .workname, .workimg, .workdel {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

.workimgimg {
    height: 100px;
}

.worknamep {
    font-weight: bold;
    font-size: 1.6em;
}

.worktypep {
    color: #999999;
    font-size: 1em;
}

.workstock {
    color: #999999;
    font-size: 1em;
}

.workdela {
    color: red;
    font-size: 1.6em;
}

.selectwork, .workdel, .worktypep, .worknamep {
    padding-top: 15px;
}

#confbutt {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    height: 50px;
    font-size: 1.6em;
    color: white;
    background: #333;
    width: 100%;
}

#confdivv {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

#delselect {
    background: transparent;
    border: 0;
    color: black;
    border-radius: 0;
    height: 50px;
}

.addheight1{
    height:100px;
}

.addheight2{
    height:140px;
}

.titleline{
    border-top: 2px solid #999;
}

.navbar-fixed-bottom{
    height: 50px;
    background: #ccc;
}

.pull-left{
    width: 40%;
    padding-top: 12px;
}

.pull-right{
    width:40%;
}