
.pagetitle {
    color: #238acb;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pagetitleh1 {
    padding-left: 100px;
    margin: 0px;
}

.pagetitleh2 {
    padding-left: 100px;
    margin: 0px;
    color: #999999;
}

.processbar {
    background: black;
    height: 40px;
    margin-bottom: 60px;
}

.processbarli {
    display: inline-block;
    color: white;
    font-size: 1.6em;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
}

.nowprocess {
    background: red;
}

.workname {
    background-color: #eeeeee;
    color: #23b1f7;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pdfiframe {
    width: 100%;
    height: 700px;;
    border: 0px;
}

.uploadtime {
    color: #999999;
}

.orderbtn {
    background: rgba(255, 255, 255, 0);
}
#gotocar{
    border:1px solid orange;
    border-radius:40px;
    height:80px;
    width:80px;
    background:#fff;
}
#cardiv{
    position:absolute;
}

.ul{
    padding-left: 100px;
    height: 40px;
}

.border1{
    border-top: 1px solid black;
}

#workImages{
    text-align:center;
}

.glyphicon-shopping-cart {
    font-size: 1.6em;
    color: orange;
}
