

.head {
    background-color: #eeeeee;
    color: #23b1f7;
    height: 100px;
    clear: both;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.headh1 {
    padding-left: 15px;
    margin: 0px;
    font-size: 1.9em;
}

.leftbox {
    border: 2px solid #23b1f7;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}

.rightbox {
    overflow-y:scroll;
    max-height:300px;
    border: 2px solid #23b1f7;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}

input{
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    border: 2px solid #9d9d9d;
}

.checkbox{
    position:static;
    height:40px;
}

a.checkbutton{
    margin-top:10px;
    width:70px;
    display:block;
    position:absolute;
    right:10px;
    text-align: center;
    padding:5px;
    background-color:#23b1f7;
    border-radius:4px;
    color:white
 }

a.checkbutton:hover{
    background-color: #198ff7;
    text-decoration: none;
}

.alertbox{
    background-color: #f7c2b8;
    color: #f7422b;
    width:100%;
    padding:10px;
}

.newbox{
}

.medium{
    height: 20px;
}

.mainimg{
    width:45%;
}

.fname {
    font-size: 1.4em;
}

.fnamebold {
    font-size: 1.4em;
    font-weight: bold;
}

.fmoney {

}

.fms {

}