
.head {
    background-color: #eeeeee;
    color: #23b1f7;
    height: 100px;
    clear: both;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.headh1 {
    padding-left: 15px;
    margin: 0px;
    font-size: 1.9em;
}

.leftbox {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}

.rightbox {
    overflow:scroll;
    max-height:300px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}

.medium{
    height: 20px;
}

.mainimg{
    width:45%;
}

.fname {
    font-size: 1.4em;
}

.fnamebold {
    font-size: 1.4em;
    font-weight: bold;
}

.fmoney {

}

.fms {

}