/*标题格式*/
.pagetitle {
    background-color: #f69163;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;

}

.pagetitleh1 {
    padding-left: 40px;
    margin: 0;
    font-size: 1.7em;
}

.pagetitleh2 {
    padding-left: 40px;
    margin: 0;
    color: #000;
    font-size: 1.3em;
}

/*地址选择栏*/

.modal-dialog{
    position:fixed;
    left:0;
    width:100%;
    bottom:0;
    height:400px;
    margin:0;
}

.modal-content{
    height:100%;
    border-radius:0;
    padding-bottom:10px;
}

.addresspanel{
    max-height:260px;
    overflow:scroll;
}

a#addressbutton{
    display:block;
    color:#ccc;
    width:100%;
    padding:2px;
    border:3px inset rgb(238,238,238);
}

a#addressbutton:hover{
    text-decoration: none;
}

.modal-header{
    text-align:center;
}

#addressnav .col-xs-4{
    text-align:center;
}

a.navbutton{
    display:block;
    width:100%;
    height:100%;
    padding:5px;
    color:black;
    font-size:1em;
    border-style: none none solid none;
    text-decoration: none;
}

a.navnormal{
    border-width:1px;
    border-color:#333;
}

a.navvisited{
    border-width:3px;
    border-color:#ff7d10;
}

a.addressbutton{
    display:block;
    width:100%;
    height:30px;
    vertical-align:middle;
    padding:5px;
    color:black;
    font-size:1em;
    text-decoration: none;
}

a.addressnormal{
}

a.addressvisited{
    background-color:#ff7d10;
}

/*其他代码*/
#PayOnlineText{
    font-size: 0.7em;
    color:red;
}

.PayOnlineBt{
    font-size:0.6em;
    display:block;
    border: 2px solid black;
    padding:2px 2px 2px 2px;
    text-align:center;
    width:100%;
    color:black;
    border-radius: 10px;
    text-decoration: none;
    margin-top:10px;
    margin-bottom:10px;
}

a.PayOnlineUv{
    background-color: white;
}

a.PayOnlineUv:hover{
    color:black;
    text-decoration: none;
}

a.PayOnlineVd{
    background-color: #ff7156;
}

a.PayOnlineVd:hover{
    color:black;
    text-decoration: none;
}


.normalline{
    margin-top:15px;
}

input{
    border-width:3px;
    width:100%;
    margin:0;
}

.butct{
    position:relative;
}

#addOrderBtn{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}

select{
    height:30px;
    font-size:16px;
}

.note{
    font-size: 12px;
}

#advice{
    transform:translateY(-30px);
}