
#mainwindow{
    margin-top:40px;
}

.inputbox{
    padding-top:10px;
}

input{
    width:100%;
}


a.submitbt{
    margin-top:20px;
    display:block;
    background-color: #7ecbf7;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    text-decoration: none;
    color:white;
    width:100px;
    margin-bottom:20px;
}

a.submitbt:hover{
    text-decoration: none;
    background-color: #4ba7f7;
    cursor:pointer;
}


.alertbox{
    background-color: #f7c2b8;
    color: #f7422b;
    width:100%;
    padding:10px;
}

.imgbox1{
    z-index:-1;
    position:relative;
    width:100%;

}