html {
    position: relative;
    min-height: 100%;
}

.qaBox>.qBox>.qText {
    padding: 20px;
    background: #409cc3;
    border-radius: 5px;
    color: #fafafa;
    font-size: 1.65rem;
}

.qaBox>.aBox>.aText {
    padding: 20px;
    background: orange;
    border-radius: 5px;
    color: #fafafa;
    font-size: 1.65rem;
}

.job {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 5px;
}

.uk-grid>* {
    margin-left: 30px;
}