.navbartop {
    width: 100%;
    background-image: url("/aqours.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 200px;
    clear: both
}

.navimg{
    width:70px;
}
.ma {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: -4px;
    color: white;
    display: inline-block;
    font-size: 1.2em;
}

#weare{
    color: black;
}

.title {
    font-size: 2em;
    color: #409cc3;
}

.secondtitle {
    font-size: 1.5em;
    font-style: oblique;
    color: #f96b93;
}

.mymain {
    clear: both;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.middleimgct {
    background: #a9d6f5;
    height:170px;
    padding-top:30px;
}

.middleimg {
}

#buttonaboutus{
    padding:4px;
    font-size:1em;
}