
.pagetitle {
    background-color: #f69163;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pagetitleh1 {
    padding-left: 40px;
    margin: 0px;
    font-size: 1.7em;
}

.pagetitleh2 {
    padding-left: 40px;
    margin: 0px;
    color: #000;
    font-size: 1.3em;
}

#blueword{
    color: #23b1f7;
}

.intro {
    font-size: 16px;
    padding-top: 20px;
}

#textorange{
    color: #f69163;
}

#weibo{
    margin-left:10%;
    width: 80%;
    height: 500px;
}