titleh1 {
    font-size: 0.8em;
}

.workname {
    background-color: #eeeeee;
    color: #23b1f7;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#workTypes {
    display:none;
}

.pdfiframe {
    width: 100%;
    height: 700px;;
    border: 0px;
}

.uploadtime {
    color: #999999;
}
.orderbtn{
    background:rgba(255,255,255,0);
}

.active{
    color:#238acb;
}

.more_picture{
    width: 70%;
    margin-left:15%
}

#workImages{
    text-align: center;
}

#gotocar{
    border:1px solid orange;
    border-radius:20px;
    height:40px;
    width:40px;
    background:#fff;
}
#cardiv{
     position:fixed;
 }

.glyphicon-shopping-cart{
    font-size:1.6em;
    color:orange;
}
